body {
    overflow-x:hidden;
    overflow-y:hidden;
    height: 100vh;
}

.colmena {
    margin-top: 6.7vh;
}

.colmena p {
    font-size: 40pt;
    font-family: sans-serif;
    margin-bottom: 2em;
    color: #875151;
}

.top_img_izq {
    margin-bottom: 25vh;
    /*width:100%;*/
    /*max-width:40vw;
    margin-right: 161px;
    margin-left: -105px;*
    width: 70vw;
    margin-right: 14.9vw;
    margin-left: -22vw;/**-220px;**/
}

.top_img_der {
    margin-bottom: 30vh; 
}

.bottom_img_izq {
    /*width:100%;*/
    /*width: 150%;
    height: 150%;*/
}

.col_form{
    text-align: center;
    margin-bottom: 2em;
}

.logo {
    width: 35vw;
    margin-bottom: 4em;
}

.svg_btn {
    background: none;
    border: 0;
    margin-bottom: 1em;
    margin-top: 1em;
}

.mdl-textfield__label {
    font-size: 30pt ;
    overflow: visible ;
    text-align: center;
}

#text182 {
    font-family: Sans-Serif;
}

.mdl-textfield__input {
    font-size: 28pt;
}

input {

}

div.mdl-textfield {
    width: 100% ;
}

a {
    font-size: 22pt;
    text-decoration: none;
}

#login_form {
    margin-bottom: 4em;
}

.p_col {
    margin-top: 4em;
    font-size: 20pt;
}
