<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    
    <body>
        
        <div class="formcont">
            
          <form method="post">
	    {% csrf_token %}
            <h1>Entrar en tu cuenta</h1><br>
            Tu correo <br>
            <input name="correo" placeholder="email@ejemplo.com"> <br>
            Tu contraseña <br>
            <input name="contrasena" placeholder="Password"> <br>
            <input type="checkbox">Recordar <br>                
            <input type="submit" value="Entrar">
	    <a href="/register">Registrarse</a>        
          </form>	  
        </div>
        
    </body>
</html>
