<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    
    <body>
        <div class="hexcont">
            <div class="hexagon"><span></span></div>
        </div>
        <div class="hexcont">
            <div class="hexagon"><span></span></div>
        </div>
        <div class="hexcont">
            <div class="hexagon"><span></span></div>
        </div>
        <div class="hexcont">
            <div class="hexagon"><span></span></div>
        </div>
	Lista de Destinos:<br>
	{% for direccion in direcciones %}
	{{ direccion.direccion }}<br>
	{% endfor %}
        <img class="imglogo" src="/static/img/logo.svg">
	<br>Nuevo destino:
	{{ error }}	
	<form method="post">
	  {% csrf_token %}
	  {{ form.direccion.errors.as_text }}
	  Dirección:<input name="direccion" > <br>
	  {{ form.longitud.errors.as_text }}
	  Longitud:<input name="longitud" > <br>
	  {{ form.latitud.errors.as_text }}
	  Latitud:<input name="latitud" > <br>
	  <input type="submit" value="Submit">
	</form>
    </body>
</html>
