<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    
    <body>
        <div class="hexcont">
            <div class="hexagon"><span></span></div>
        </div>
        <div class="hexcont">
            <div class="hexagon"><span></span></div>
        </div>
        <div class="hexcont">
            <div class="hexagon"><span></span></div>
        </div>
        <div class="hexcont">
            <div class="hexagon"><span></span></div>
        </div>

        <img class="imglogo" src="/static/img/logo.svg">

        <button onclick="document.location=`login`" class="btnmain">Iniciar sesion</button>
    </body>
</html>
